@import 'colours.scss';

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  margin: 8rem 0 6rem 0;
  padding: 0 5rem;
  width: auto;

  .pokemon-card {
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.5s ease;

    &:hover {
      transform: rotate(3deg);
    }

    .thumbnail-image {
      width: 150px;
      max-width: 90%;
    }

    h3 {
      margin: 0;
      color: $black;
    }
  }
}

.pokemon-detailed {
  margin: 8rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0 0 1rem 0;
    text-align: center;
  }

  .pokemon-image {
    width: 300px;
  }

  .sprites {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    .pokemon-sprite {
      width: 75px;
    }
  }

  .details {
    width: auto;
    text-align: left;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    grid-gap: 1rem;

    .pokemon-card {
      height: 200px;
    }
  }

  .pokemon-detailed {
    padding: 0;
  }
}

@media only screen and (min-width: 421px) and (max-width: 912px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;

    .pokemon-card {
      height: 200px;
    }
  }
}

@media only screen and (min-width: 913px) and (max-width: 1000px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
