@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import 'header.scss';
@import 'pokemon.scss';
@import 'colours.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.bold {
  font-weight: 700;
}
