<article class="pokemon">
  {{!-- <Rental::Image
    src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
    alt="A picture of Grand Old Mansion"
    src={{@rental.image}}
    alt="A picture of {{@rental.title}}"
  /> --}}
  {{!-- <div class="details">
    <h3>{{@pokemon.name}}</h3>
  </div> --}}

  TEST
</article>