<article class="pokemon detailed">
  {{!-- <Rental::Image
    src={{@rental.image}}
    alt="A picture of {{@rental.title}}"
  /> --}}

  <div class="details">
    <h3>{{@pokemon.name}}</h3>
</div>
</article>
